{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="home-background">
   <!-- Home Section -->
   <section class=" home" >
      <a class="btn home-introduction " href="{% url 'membership' %}">Join Now!</a>
   </section>
   <!-- End Home Section -->
   <!-- Fun Acts -->
   <section id="fun-acts" class="container">
      <div class="inner fun-acts">
         <div class="about-margin"></div>
         <a class="about-icon">
         <i class="fas fa-heartbeat"></i>
         </a>
         <br>        
         <!-- Header -->
         <h1 class="colored animated fadeInLeft" data-animation-delay="200" >
            Fit your body,<span class="colored animated fadeInRight" data-animation-delay="400">lift your soul</span>
         </h1>
      </div>
   </section>
</div>
<!-- Gallery -->
<section class="gallery-container">
   <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
         <img
            src="media/gallery1.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
         <img
            src="media/gallery2.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
         <img
            src="media/gallery3.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
         <img
            src="media/gallery4.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
         <img
            src="media/gallery5.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
         <img
            src="media/gallery6.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
      </div>
   </div>
</section>
<!-- Blockquote -->
<section id="blockquote">
   <div class="inner no-padding">
      <!-- Your Text -->
      <p class="normal white blockquote fancy">“Energy & persistence conquer all things.” – Benjamin Franklin </p>
   </div>
</section>
{% endblock %}

