{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="home-background">
   <!-- Home Section -->
   <section id="home" >
      <h2 class="home-introduction">
         Small group training <br> Friendly Community <br> Professional Guidance <br><a class="btn" href="{% url 'membership' %}" class="black">Join Now!</a>
      </h2>
   </section>
   <!-- End Home Section -->
   <!-- Fun Acts -->
   <section id="fun-acts" class="container">
      <div class="inner fun-acts">
         <div class="about-margin"></div>
         <a class="about-icon">
         <i class="fas fa-heartbeat"></i>
         </a>
         <br />        
         <!-- Header -->
         <h1 class="colored animated fadeInLeft" data-animation-delay="200" >
            Fit your body,<span class="colored animated fadeInRight" data-animation-delay="400">lift your soul</span>
         </h1>
      </div>
      <!-- End Fun Acts Inner -->
   </section>
   <!-- End Fun Acts Section -->
</div>
<!-- Blockquote -->
<section id="blockquote">
   <div class="inner no-padding">
      <!-- Your Text -->
      <p class="normal white blockquote fancy">“Energy & persistence conquer all things.” – Benjamin Franklin </p>
   </div>
</section>
<!-- End Blockquote Section -->
{% endblock %}