{% extends "base.html" %}
{% block extra_title %}My Profile{% endblock %}
{% block content %}
<div class="profile-container container">
   <div class="card text-center">
      <div class="card-header">
         <h2 class=" mb-4 ">My Profile</h2>
      </div>
      <div class="card-body">
         <!-- Home Tab panels -->
         <p class="mb-4"><strong class="text-uppercase">Username:</strong> {{ user }}</p>
         <p class="mb-4"><strong class="text-uppercase">First Name: </strong> {{ user.first_name }}</p>
         <p class="mb-4"><strong class="text-uppercase">Last Name:</strong>  {{ user.last_name }}</p>
         <p class="mb-4"><strong class="text-uppercase">Email: </strong> {{ user.email }}</p>
         <p class="mb-4"><strong class="text-uppercase">Last Login:</strong>  {{ user.last_login }}</p>
         <p class="mb-0"><strong class="text-uppercase">Date Joined: </strong> {{ user.date_joined }}</p>
         <a href="#myModal" class="trigger-btn text-danger mt-4 mb-0" data-toggle="modal">Delete Account!</a>
         <!-- Membership Tab panels -->
         <div class="card-footer text-muted mt-4">
            <h3 class="font-weight-bold">Membership Details</h3>
            {% if subscription %}
            <p class="mt-3"><strong class="text-uppercase">Gym Subscription:</strong> {{ subscription.membership_duration }}
            </p>
            <p class="mt-3"><strong class="text-uppercase">Membership Start</strong> <i class="fas fa-calendar-check text-success"></i> :
               {{ subscription.purchase_date }}
            </p>
            <p class="mt-3"><strong class="text-uppercase">Membership Expiration</strong> <i class="fas fa-calendar-times text-danger"></i> :
               {{ subscription.expire_date_subscription }}
            </p>
            {% else %}
            <p class="mt-3"><strong class="text-uppercase">Gym Subscription:</strong> <strong class="text-uppercase"><a href="{% url 'membership' %}"> GET MEMBERSHIP NOW! </a></strong>
            </p>
            <p class="mt-3"><strong class="text-uppercase">Membership Start</strong> <i class="fas fa-calendar-check text-success"></i> :
               <strong>NOT ACTIVE</strong>
            </p>
            <p class="mt-3"><strong class="text-uppercase">Membership Expiration</strong> <i class="fas fa-calendar-times text-danger"></i> :
               <strong>NOT ACTIVE</strong>
            </p>
            {% endif %}
         </div>
      </div>
   </div>
   <!-- Modal Delete Account -->
   <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
         <div class="modal-content">
            <div class="modal-header flex-column">
               <div class="icon-box">
                  <i class="material-icons">&#xE5CD;</i>
               </div>
               <h4 class="modal-title w-100">Are you sure?</h4>
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
               <p>Do you really want to remove your account? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
               <a href="{% url 'profile' %}" class="btn ">Cancel</a>
               <a class="text-danger" href="{% url 'delete_account' %}">Delete</a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
   // Get the modal
   var modal = document.getElementById('myModal');
   
   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
    
     if (event.target == modal) {
       modal.style.display = "none";
     }
   }
</script> 
{% endblock %}