{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}
{% block content %}
<!-- Black bg for mobile screen size -->
<div class="container-fluid d-lg-none w-100 p-0">
</div>
<!-- Profile body -->
<div class="container my-5 py-5">
   <!-- Membership Title -->
   <div class="col-12 text-center text-uppercase my-4">
      <h1 class="profile-welcome">THANK YOU!</h1>
      <hr>
      <div class="thankyou-body text-capitalize">
         <p>{{ profile_name }}, thank you for subscribing to our {{ membership }} membership, you have full access to
            all our gym facilites for {{ membership.duration_days }} days. 
         </p>
         <p> Your gym memberships starts from {{ date|date:"M. d, Y"}} Until {{ exp_date|date:"M. d, Y" }}.</p>
      </div>
   </div>
   <hr class="my-4">
</div>
{% endblock %}