{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="blog-container container-fluid">
   <div class="blog-header text-center mb-3">
      <a href="{% url 'blog' %}" class="blog-title">Fit and Lift Blog</a>
      <p class="lead blog-description">The official blog</p>
   </div>
   <div class="row">
       <!-- Sidebar Small Screen -->
      <div class="col-sm-12 blog-sidebar d-block d-md-block d-lg-none">
         {% if request.user.is_authenticated %}
         <div class="card text-center w-75 border-0 mb-4">
            <div class="card-body"></div>
            <h5 class="card-title">User action</h5>
            <a href="{% url 'add_post' %}" class="btn mt-5 mb-4">Add a New Post</a> 
            {% endif %}
         </div>
         <!-- Search Widget -->
         <div class="sidebar-module">
            <form method="GET" action="{% url 'blog' %}">
               <h5 class="mb-3">Search on the blog</h5>
               <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="Search...">
                  <span class="input-group-append">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
               </div>
            </form>
         </div>
      </div>
      <div class="col-sm-8 col blog-main">
         {% if search_term or current_categories or current_sorting != 'None_None' %}
         <p class="text-muted ">
            {{ post|length }} Post{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
         </p>
         {% endif %}
         {% if search_term or current_categories or current_sorting == 'None_None' %}
         <a href="{% url 'blog' %}" class="btn my-5">Back to Blog</a>
         {% endif %}
         <!-- Blog Post -->
         {% for post in post %}
         <div class="blog-post card">
            <h2 class="blog-post-title card-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.created_by }} | {{ post.created_on}} </p>
            {% if post.image %}
            <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% else %}
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
            {% endif %}
            <p class="card-text card-body">{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.id %}" class="btn ">Read More &rarr;</a>
         </div>
         {% endfor %}
         <div>
            {% if post.has_previous %}
            <a href="?page={{post.previous_page_number}}">Previous</a> {% else %}
            <span>Previous</span> {% endif %}
            <span>
            Page {{post.number}} of {{post.paginator.num_pages}}.
            </span> {% if post.has_next %}
            <a href="?page={{post.next_page_number}}">Next</a> {% else %}
            <span>Next</span> {% endif %}
         </div>
      </div>
      <!-- Sidebar Large Screen -->
      <div class="col-sm-3 col col-sm-offset-1 blog-sidebar d-none d-lg-block d-sm-none">
         {% if request.user.is_authenticated %}
         <div class="card text-center w-75 border-0">
            <div class="card-body"></div>
            <h5 class="card-title">User action</h5>
            <a href="{% url 'add_post' %}" class="btn mt-5 mb-4">Add a New Post</a> 
            {% endif %}
         </div>
         <!-- Search Widget -->
         <div class="sidebar-module">
            <form method="GET" action="{% url 'blog' %}">
               <h5 class="mb-3">Search on the blog</h5>
               <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="Search...">
                  <span class="input-group-append">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}

