
{% extends "account/base.html" %}
{% block extra_title %}Registration{% endblock %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block inner_content %}
<div class="col-12">
   <h2 class="logo-font ">{% trans "Sign Up" %}</h2>
</div>
<div class="col-6">
   <p>{% blocktrans %}Already have an account? <br>Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
<hr>
<hr>
<form class="signup mt-3 mb-5 col-12 col-md-6" id="signup_form" method="post" action="{% url 'account_signup' %}">
   {% csrf_token %}
   {{ form|crispy }}
   {% if redirect_field_value %}
   <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
   {% endif %}
   <a class="btn  mt-4" href="{% url 'account_login' %}">Back to Login</a>
   <button class="btn  mt-4" type="submit">{% trans "Sign Up" %}</button>
</form>
{% endblock %}

