

{% load static %}
<!doctype html>
<html lang="en">
   <head>
      {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="target-densitydpi=device-dpi,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
      {% endblock %}
      {% block extra_meta %}
      {% endblock %}
      {% block corecss %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% endblock %}
      {% block extra_css %}
      {% endblock %}
      {% block corejs %}
      <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
      {% endblock %}
      {% block extra_js %}
      {% endblock %}
      <title>Fit & Lift | {% block extra_title %}{% endblock %}</title>
   </head>
   <body>
      <header class="darknav  fixed-top">
         <nav class="darknav navbar navbar-expand-lg navbar-light w-100">
            <button id="mobile-btn" class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% include "includes/mobile-top-header.html" %}
            <div id="profile" class=" d-none d-lg-block d-sm-none list-inline-item dropdown">
               <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-user-circle fa-lg"></i>
               </a>
               <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                  <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
               </div>
            </div>
            {% include 'includes/main-nav.html' %}
         </nav>
      </header>
      {% if messages %}
      <div class="message-container">
         {% for message in messages %}
         {% with message.level as level %}
         {% if level == 40 %}
         {% include 'includes/toasts/toast_error.html' %}
         {% elif level == 30 %}
         {% include 'includes/toasts/toast_warning.html' %}
         {% elif level == 25 %}
         {% include 'includes/toasts/toast_success.html' %}
         {% else %}
         {% include 'includes/toasts/toast_info.html' %}
         {% endif %}
         {% endwith %}
         {% endfor %}
      </div>
      {% endif %}
      {% block page_header %}
      {% endblock %}
      {% block content %}
      {% endblock %}
      <!-- Scroll to top button -->
      <button onclick="topFunction()" id="myBtn" title="Go to top">☝️ <br> Top</button> 
      {% include 'includes/footer.html' %}
      {% block postloadjs %}
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="{% static 'js/base.js' %}"></script> 
      {% endblock %}
   </body>
</html>

